
test1/training_history.json
test1/sift_svm_model.pkl
test1/sift_hog_svm_model.pkl
test1/scaler_LBP.pkl
test1/lbp_svm_model.pkl
test1/lbp_hog_svm_model.pkl
test1/hog_svm_model.pkl
test1/deepfake_cnn_model.keras
Models_and_scalers/training_history_NODATA.json
Models_and_scalers/training_history.json
Models_and_scalers/sift_svm_model.pkl
Models_and_scalers/sift_hog_svm_model.pkl
Models_and_scalers/scaler_SIFT_HOG.pkl
Models_and_scalers/scaler_SIFT.pkl
Models_and_scalers/scaler_LBP_HOG.pkl
Models_and_scalers/scaler_LBP.pkl
Models_and_scalers/scaler_HOG.pkl
Models_and_scalers/lbp_svm_model.pkl
Models_and_scalers/lbp_hog_svm_model.pkl
Models_and_scalers/hog_svm_model.pkl
Models_and_scalers/deepfake_cnn_model_NODATA.keras
Models_and_scalers/deepfake_cnn_model.keras
